<footer>
    <img src="https://media.licdn.com/dms/image/C4D12AQGDOOyHZm7ggQ/article-cover_image-shrink_600_2000/0/1624893322758?e=2147483647&v=beta&t=rxr_2gfYyCOaj-pTPauAW-USDMDz960iV4RwxVy0m3I" alt="We need designers :c">
    <p>
        Editor de HTML usado:<br>
        <a href="https://code.visualstudio.com/">Visual Studio Code</a><br>
        Mi correo:<br>
        <a href="mailto:A01704793@tec.mx">A01704793@tec.mx</a>
        Encuesta:<br>
        <a href="/encuesta/Favorito">Encuesta</a><br>
    </p>
    </footer>
</body>
</html>