<%- include('includes/head.ejs') %>
</head>
<body>
    <header>
        <h1>
            Soy José Diego Llaca Castro.
        </h1>
    </header>
    <nav>
        <p>
            Tengo 20 años y estoy estudiando en el Instituto Tecnologico de Estudios Superiores de Monterrey.<br>
            Mi matricula es A01704793 y actualmente me encuentro en mi cuarto semestre de la carrera de Ingenieráa en Tecnologías Computacionales.<br>
        </p>
    </nav>
    <p>
        Tengo varios hobbies:
        <ul>
            <li>
                Jugar <strong>videojuegos</strong> 
            </li>
            <li>
                Tocar la guitarra
            </li>
            <li>
                <em>Dibujar</em> 
            </li>
            <li>
                Leer
            </li>
            <li>
                Jugar tenis
            </li>
            <li>
                Etc.
            </li>
        </ul>
    </p>
<%- include('includes/footer.ejs') %>