<%- include('includes/head.ejs') %>
    </head>
    <body>
        <h1>Registrar Laboratorio</h1>

        <br><br>

        <form action="/acceso/nuevo" method="POST">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

            <label for="nombre">Nombre:</label>
            <input required name="nombre" id="nombre" type="text" placeholder="Lab nuevo">

            <label for="nombre">Fecha:</label>
            <input required name="fecha" id="fecha" type="text" placeholder="2000/01/01">

            <br><br>

            <input type="submit" value="Registrar">

        </form>

        <footer>
            <p>
                Editor de HTML usado:<br>
                <a href="https://code.visualstudio.com/">Visual Studio Code</a><br>
                Mi correo:<br>
                <a href="mailto:A01704793@tec.mx">A01704793@tec.mx</a>
            </p>
        </footer>
    </body>
</html> 