<%- include('includes/head.ejs') %>
</head>
<body>
    <h1>Acceso a Labs</h1>
    <p> 
        Bienvenido al almacen de laboratorios<br>
    </p>
    <a href="/acceso/Lab1">Acceder Laboratorio 1</a><br>
    <a href="/acceso/Lab3">Acceder Laboratorio 3</a><br>
    <a href="/acceso/Lab4">Acceder Laboratorio 4</a><br>
<%- include('includes/footer.ejs') %>